.intro-container{
    width: 100%;
    height: 800px;
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

@keyframes opacity-ani{
    0% {
        opacity: 0;
        transform: translate(100px, -50px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.hi-there-holder, .im-holder, .duong-minh-chinh-holder{
    height: 180px;
}

.hi-there-holder{
    opacity: 0;
    
}

.hi-there-holder-ani{
    animation: opacity-ani 0.5s ease 0.5s 1 alternate forwards;
    /* animation-name: opacity-ani;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
    transform: translate(10000px, -5500px);
}

.hi-there-img-holder{
    height: 100%;
    background-image: url("/assets/images/HiThere.png");
    background-repeat: no-repeat;
    background-size: 1080px;
    background-position: center;
}

.im-holder{
    opacity: 0;
    
}

.im-holder-ani{
    animation: opacity-ani 0.5s ease-out 1s 1 alternate forwards;
    /* animation-name: opacity-ani;
    animation-delay: 1.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
    transform: translate(10000px, -5500px);
}

.im-img-holder{
    height: 100%;
    background-image: url("/assets/images/Im.png");
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: center;
}


.duong-minh-chinh-holder{
    opacity: 0;
}

.duong-minh-chinh-holder-ani{
    animation: opacity-ani 0.5s ease 1.5s 1 alternate forwards;
    /* animation-name: opacity-ani;
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
    transform: translate(10000px, -5500px);
}

.duong-minh-chinh-img-holder{
    height: 100%;
    background-image: url("/assets/images/DuongMinhChinh.png");
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center;
}

@media only screen and (max-width: 374px){
    .intro-container{
        height: 500px;
        top: 0;
    }

    .hi-there-holder, .im-holder, .duong-minh-chinh-holder{
        height: 100px;
    }

    .hi-there-img-holder{
        background-size: 300px;
    }

    .im-img-holder{
        background-size: 270px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 320px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px){
    .intro-container{
        height: 600px;
        top: 0;
    }

    .hi-there-holder, .im-holder, .duong-minh-chinh-holder{
        height: 100px;
    }

    .hi-there-img-holder{
        background-size: 350px;
    }

    .im-img-holder{
        background-size: 320px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 370px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
    .intro-container{
        height: 700px;
        top: 0;
    }
    
    .hi-there-holder, .im-holder, .duong-minh-chinh-holder{
        height: 100px;
    }

    .hi-there-img-holder{
        background-size: 400px;
    }

    .im-img-holder{
        background-size: 370px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 420px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .hi-there-holder, .im-holder, .duong-minh-chinh-holder{
        height: 130px;
    }

    .hi-there-img-holder{
        background-size: 710px;
    }

    .im-img-holder{
        background-size: 680px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 730px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .hi-there-holder, .im-holder, .duong-minh-chinh-holder{
        height: 130px;
    }

    .hi-there-img-holder{
        background-size: 870px;
    }

    .im-img-holder{
        background-size: 840px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 890px;
    }
}