.intro-container{
    width: 100%;
    height: calc(100% - 100px);
    top: 100px;
    position: relative;
}

@keyframes hi-word{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(25%);
    }
}

.hi-there-holder{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    /* animation-name: hi-word;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
    height: 33%;
}

.hi-there-img-holder{
    height: 100%;
    background-image: url("/assets/images/HiThere.png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    
}

.im-holder{
    width: 100%;
    height: 33%;
}

.im-img-holder{
    height: 100%;
    background-image: url("/assets/images/Im.png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}

.duong-minh-chinh-holder{
    width: 100%;
    height: 33%;
}

.duong-minh-chinh-img-holder{
    height: 100%;
    background-image: url("/assets/images/DuongMinhChinh.png");
    background-repeat: no-repeat;
    background-size: 1024px;
    background-position: center;
}




@media only screen and (max-width: 374px){
    .intro-container{
        height: calc(100% - 100px);
    }

    .hi-there-img-holder{
        background-size: 280px;
    }

    .im-img-holder{
        background-size: 250px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 300px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px){
    .intro-container{
        height: calc(100% - 100px);
    }

    .hi-there-img-holder{
        background-size: 340px;
    }

    .im-img-holder{
        background-size: 310px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 360px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
    .intro-container{
        height: calc(100% - 100px);
    }

    .hi-there-img-holder{
        background-size: 380px;
    }

    .im-img-holder{
        background-size: 350px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .intro-container{
        height: calc(100% - 100px);
    }

    .hi-there-img-holder{
        background-size: 600px;
    }

    .im-img-holder{
        background-size: 570px;
    }

    .duong-minh-chinh-img-holder{
        background-size: 700px;
    }
}