@keyframes header-visible {
    from {
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

.header-container{
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    display: flex;
    justify-content: flex-end;
    transform: translateY(-100%);
    animation-name: header-visible;
    animation-duration: 1.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.left-links-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-holder{
    margin: 0px 20px;
}

.link-holder a {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
}

.highlight-indicator{
    width: 0%;
    height: 2px;
    margin: auto auto;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link-holder:hover .highlight-indicator{
    width: 100%;
}