@keyframes header-visible {
    from {
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

.header-container{
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* animation-name: header-visible; */
    animation-duration: 1.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    z-index: 10;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
    background-color: white;
}



.right-links-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-hamburger-bars-holder{
    display: none;
}

@media only screen and (max-width: 767px){
    .header-container{
        height: 70px;
    }
    .right-links-container{
        display: none;
    }

    .mobile-hamburger-bars-holder{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#hamburger-button{
    color: black;
}

.link-holder{
    margin: 0px 20px;
}

.link-holder a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.link-holder p {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0;
    cursor: pointer;
}

.link-button{
    background-color: transparent;
    border: none;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont
}

.highlight-indicator{
    width: 0%;
    height: 2px;
    margin: auto auto;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link-holder:hover .highlight-indicator{
    width: 100%;
}

.mobile-right-tab-holder{
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(150%);
    transition: transform 0.7s ease;
    z-index: 11;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
}

.mobile-link-holder p{
    color: black;
    font-size: 22px;
}

.underlying-mobile-top-links {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.mobile-top-links-container{
    width: 70%;
    height: 100%;
    background-image: linear-gradient(white, rgb(165, 165, 165));
    position: absolute;
    right: 0;
    top: 0;
    padding: 5%;
}

.mrt-visible{
    transform: translateX(0%);
}

@keyframes animate-loading{
    0% {
        background-color: black;
    }

    10% {
        background-color: white
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: white;
    }

    90%{
        opacity: 1;
    }

    100% {
        background-color: black;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes animate-loading-text{
    0% {
        color: white
    }

    25% {
        color: black
    }

    50% {
        color: white;
    }

    75% {
        color: black;
    }

    100% {
        color: white;
    }
}

.loading-screen{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 12;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 1;
    visibility: visible;
}

.add-animate-loading-screen{
    animation: animate-loading 3s ease 0s 1 alternate forwards;
    display: flex
}   

.loading-screen p {
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont;
    font-size: 100px;
    color: white;
}

.add-animate-loading-text{
    animation: animate-loading-text 3s ease 0s 1 alternate forwards;
}

@media only screen and (max-width: 767px){
    .loading-screen p {
        font-size: 50px;
    }
}