.contact-container{
    width: 100%;
    padding: 0 10%;
    padding-top: 100px;
    position: relative;
    margin-top: 600px;
}

.contact-title-container p{
    font-size: 70px;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
    font-weight: 1000;
}

@media only screen and (max-width: 425px){
    .contact-title-container p{
        font-size: 50px;
        margin: 0;
    }
}

@media only screen and (min-width: 426px){
    .contact-title-container p{
        font-size: 60px;
        margin: 0;
    }
}

@media only screen and (min-width: 768px){
    .contact-title-container p{
        font-size: 70px;
        margin: 0;
    }
}

.top-left-contact-holder{
    position: relative;
}

.top-left-contact-holder{
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
    font-size: 70px;
}

@media only screen and (max-width: 425px){
    .top-left-contact-holder{
        font-size: 28px;
    }
}

@media only screen and (min-width: 426px){
    .top-left-contact-holder{
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px){
    .top-left-contact-holder{
        font-size: 42px;
    }
}

@media only screen and (min-width: 1024px){
    .top-left-contact-holder{
        font-size: 50px;
    }
}

.contact-title-holder{
    font-family: "sh_pinscherregular", "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
    width: 100%;
}

.mail-holder, .linkedin-holder, .github-holder{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mail-img-holder, .linkedin-img-holder, .github-img-holder{
    width: 100px;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

@media only screen and (max-width: 425px){
    .mail-holder, .linkedin-holder, .github-holder{
        height: 70px;
    }

    .mail-img-holder, .linkedin-img-holder, .github-img-holder{
        width: 50px;
        background-size: 50px;
    }
}

@media only screen and (min-width: 426px){
    .mail-holder, .linkedin-holder, .github-holder{
        height: 70px;
    }

    .mail-img-holder, .linkedin-img-holder, .github-img-holder{
        width: 70px;
        background-size: 60px;
    }
}

@media only screen and (min-width: 768px){
    .mail-holder, .linkedin-holder, .github-holder{
        height: 80px;
    }

    .mail-img-holder, .linkedin-img-holder, .github-img-holder{
        width: 80px;
        background-size: 80px;
    }
}

@media only screen and (min-width: 1024px){
    .mail-holder, .linkedin-holder, .github-holder{
        height: 100px;
    }

    .mail-img-holder, .linkedin-img-holder, .github-img-holder{
        width: 100px;
        background-size: 100px;
    }
}

.mail-img-holder{
    background-image: url("/assets/images/MailLogo.png");
}

.linkedin-img-holder{
    background-image: url("/assets/images/LinkedInLogo.png");
}

.github-img-holder{
    background-image: url("/assets/images/GitHubLogo.png");
}



@media only screen and (max-width: 425px){
    .mail-text-holder, .linkedin-text-holder, .github-text-holder{
        font-size: 14px;
        margin-left: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 426px){
    .mail-text-holder, .linkedin-text-holder, .github-text-holder{
        font-size: 18px;
        margin-left: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px){
    .mail-text-holder, .linkedin-text-holder, .github-text-holder{
        font-size: 22px;
        margin-left: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px){
    .mail-text-holder, .linkedin-text-holder, .github-text-holder{
        font-size: 24px;
        margin-left: 20px;
        width: 100%;
    }
}

.rights-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}