.about-container{
    width: 100%;
    position: relative;
    padding: 0 10%;
    padding-top: 100px;
}

.about-title-container{
    
}

.about-title-container p {
    font-size: 70px;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
    margin: 0;
    font-weight: 1000;
}

.content-holder{
    position: relative;
    margin: auto auto;

}

@media only screen and (max-width: 425px){
    .content-holder{
        width: 90%;
        font-size: 23px;
    }
}

@media only screen and (min-width: 426px){
    .content-holder{
        width: 90%;
        font-size: 28px;
    }
}

@media only screen and (min-width: 1024px){
    .content-holder{
        width: 90%;
        font-size: 42px;
    }
}

@media only screen and (min-width: 1440px){
    .content-holder{
        width: 80%;
        font-size: 50px;
    }
}

.text-holder{
    text-align: justify;
}
