.work-container{
    width: 100%;
    position: relative;
    padding: 0 10%;
    padding-top: 100px;
    margin-top: 600px;
}

.work-title-container p{
    font-size: 70px;
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    sans-serif;
    font-weight: 1000;
    margin-bottom: 200px;
}

@media only screen and (max-width: 425px){
    .work-title-container p{
        font-size: 50px;
        margin: 0;
    }
}

@media only screen and (min-width: 426px){
    .work-title-container p{
        font-size: 60px;
        margin: 0;
    }
}

@media only screen and (min-width: 768px){
    .work-title-container p{
        font-size: 70px;
        margin: 0;
    }
}

.exp-holder{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    cursor: pointer;
    margin-bottom: 300px;
}

.company-logo-holder{
    width: 100%;
}

.vamk-logo-image-holder, .globuzzer-logo-image-holder, .fpt-logo-image-holder, .wwo-logo-image-holder, .tk-logo-image-holder{
    height: 100%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.vamk-logo-image-holder{
    background-image: url("/assets/images/VamkLogo.png");
    background-size: 75%;
}

.globuzzer-logo-image-holder{
    height: 80%;
    background-image: url("/assets/images/GlobuzzerLogo.png");
    background-size: 250px;
}

.fpt-logo-image-holder{
    background-image: url("/assets/images/FPTLogo.png");
    background-size: 50%;
}

.wwo-logo-image-holder{
    background-image: url("/assets/images/WwLogo.png");
    background-size: 500px;
}

.tk-logo-image-holder{
    height: 80%;
    background-image: url("/assets/images/TkLogo.png");
    background-size: 600px;
}

@media only screen and (max-width: 767px){
    .vamk-logo-image-holder, .globuzzer-logo-image-holder, .fpt-logo-image-holder, .wwo-logo-image-holder, .tk-logo-image-holder{
        width: 100%;
    }

    .globuzzer-logo-image-holder{
        background-size: 60%;
    }

    .tk-logo-image-holder{
        background-size: 300px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px){
    .globuzzer-logo-image-holder{
        background-size: 250px;
    }

    .tk-logo-image-holder{
        background-size: 300px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .tk-logo-image-holder{
        background-size: 90%;
    }

    .wwo-logo-image-holder{
        background-size: 400px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .tk-logo-image-holder{
        background-size: 90%;
    }
}

.right-info-holder{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    width: 40%;
}

.position-holder{
    font-family: "sh_pinscherregular", "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
}

.position-holder p {
    margin: 0;
}

.position-smaller-text{
    margin: 0;
    padding: 0;
}

.position-holder a {
    text-decoration: none;
    color: var(--primary-color)
}

.stack-under-holder{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.stack-holder{
    font-family: "minecraftmedium", "Playfair Display",  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, 
    sans-serif;
}

.separate-exp-holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separate-left-line, .separate-right-line{
    width: 45%;
    height: 1px;
    background-color: black;
}

.separate-exp-holder p {
    font-size: 50px;
    margin: 0;
}

@media only screen and (max-width: 767px){
    .right-info-holder{
        right: unset;
        top: 100%;
        width: 100%;
    }

    .position-holder{
        font-size: 2em;
        font-weight: 1000;
    }

    .position-smaller-text{
        font-size: 20px;
        font-weight: normal;
    }

    .stack-under-holder{
        flex-flow: row wrap;
    }
    .stack-holder{
        margin: 0px 2px;
        font-size: 13px;
    }

    .stack-holder p {
        margin: 0px;
    }

    .separate-exp-holder p {
        font-size: 32px;
        margin: 0;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px){
    .position-holder{
        font-size: 2.5em;
        font-weight: 1000;
    }

    .position-smaller-text{
        font-size: 24px;
        font-weight: normal;
    }

    .stack-holder{
        margin: 0px 2px;
        font-size: 16px;
    }

    .separate-exp-holder p {
        font-size: 50px;
        margin: 0;
    }
}

@media only screen and (min-width: 768px){
    .stack-under-holder{
        flex-flow: row wrap;
    }

    .position-holder{
        font-size: 2em;
        font-weight: 1000;
    }

    .position-smaller-text{
        font-size: 22px;
        font-weight: normal;
    }

    .stack-holder{
        margin: 0px 5px;
        font-size: 18px;
    }

    .separate-exp-holder{
        display: none;
    }
}

@media only screen and (min-width: 1440px){
    .position-holder{
        font-size: 50px;
        font-weight: normal;
    }

    .position-smaller-text{
        font-size: 25px;
        font-weight: normal;
    }

    .stack-holder{
        margin: 0px 5px;
        font-size: 25px;
    }
}

.linkedin-text-holder a{
    color: black;
}

.github-text-holder a {
    color: black;
}