@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.eot');
    src: url('fonts/Minecraft.eot') format('embedded-opentype'),
         url('fonts/Minecraft.woff2') format('woff2'),
         url('fonts/Minecraft.woff') format('woff'),
         url('fonts/Minecraft.ttf') format('truetype'),
         url('fonts/Minecraft.svg#Minecraft') format('svg');
}
